In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix
from sklearn.linear_model import LogisticRegression

# Load the dataset
credit_card_data = pd.read_csv('/content/creditcard.csv')

print(credit_card_data.head())
# Display the last few rows of the dataset
print(credit_card_data.tail())

   Time        V1        V2        V3        V4        V5        V6        V7  \
0   0.0 -1.359807 -0.072781  2.536347  1.378155 -0.338321  0.462388  0.239599
1   0.0  1.191857  0.266151  0.166480  0.448154  0.060018 -0.082361 -0.078803
2   1.0 -1.358354 -1.340163  1.773209  0.379780 -0.503198  1.800499  0.791461
3   1.0 -0.966272 -0.185226  1.792993 -0.863291 -0.010309  1.247203  0.237609
4   2.0 -1.158233  0.877737  1.548718  0.403034 -0.407193  0.095921  0.592941

         V8        V9  ...       V21       V22       V23       V24       V25  \
0  0.098698  0.363787  ... -0.018307  0.277838 -0.110474  0.066928  0.128539
1  0.085102 -0.255425  ... -0.225775 -0.638672  0.101288 -0.339846  0.167170
2  0.247676 -1.514654  ...  0.247998  0.771679  0.909412 -0.689281 -0.327642
3  0.377436 -1.387024  ... -0.108300  0.005274 -0.190321 -1.175575  0.647376
4 -0.270533  0.817739  ... -0.009431  0.798278 -0.137458  0.141267 -0.206010

        V26       V27       V28  Amount  Class
0 -0.189115  0.133558 -0.021053  149.62      0
1  0.125895 -0.008983  0.014724    2.69      0
2 -0.139097 -0.055353 -0.059752  378.66      0
3 -0.221929  0.062723  0.061458  123.50      0
4  0.502292  0.219422  0.215153   69.99      0

[5 rows x 31 columns]
            Time         V1         V2        V3        V4        V5  \
284802  172786.0 -11.881118  10.071785 -9.834783 -2.066656 -5.364473
284803  172787.0  -0.732789  -0.055080  2.035030 -0.738589  0.868229
284804  172788.0   1.919565  -0.301254 -3.249640 -0.557828  2.630515
284805  172788.0  -0.240440   0.530483  0.702510  0.689799 -0.377961
284806  172792.0  -0.533413  -0.189733  0.703337 -0.506271 -0.012546

              V6        V7        V8        V9  ...       V21       V22  \
284802 -2.606837 -4.918215  7.305334  1.914428  ...  0.213454  0.111864
284803  1.058415  0.024330  0.294869  0.584800  ...  0.214205  0.924384
284804  3.031260 -0.296827  0.708417  0.432454  ...  0.232045  0.578229
284805  0.623708 -0.686180  0.679145  0.392087  ...  0.265245  0.800049
284806 -0.649617  1.577006 -0.414650  0.486180  ...  0.261057  0.643078

             V23       V24       V25       V26       V27       V28  Amount  \
284802  1.014480 -0.509348  1.436807  0.250034  0.943651  0.823731    0.77
284803  0.012463 -1.016226 -0.606624 -0.395255  0.068472 -0.053527   24.79
284804 -0.037501  0.640134  0.265745 -0.087371  0.004455 -0.026561   67.88
284805 -0.163298  0.123205 -0.569159  0.546668  0.108821  0.104533   10.00
284806  0.376777  0.008797 -0.473649 -0.818267 -0.002415  0.013649  217.00

        Class
284802      0
284803      0
284804      0
284805      0
284806      0

[5 rows x 31 columns]

In [ ]:
# Display information about the dataset
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [ ]:
# Calculate the sum of missing values in each column
print(credit_card_data.isnull().sum())

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [ ]:
# Fill missing values in the dataset with the mode of each column
data = credit_card_data.fillna(credit_card_data.mode().iloc[0])
print("Cleaned dataset:\n", data.tail())

Cleaned dataset:
             Time         V1         V2        V3        V4        V5  \
284802  172786.0 -11.881118  10.071785 -9.834783 -2.066656 -5.364473
284803  172787.0  -0.732789  -0.055080  2.035030 -0.738589  0.868229
284804  172788.0   1.919565  -0.301254 -3.249640 -0.557828  2.630515
284805  172788.0  -0.240440   0.530483  0.702510  0.689799 -0.377961
284806  172792.0  -0.533413  -0.189733  0.703337 -0.506271 -0.012546

              V6        V7        V8        V9  ...       V21       V22  \
284802 -2.606837 -4.918215  7.305334  1.914428  ...  0.213454  0.111864
284803  1.058415  0.024330  0.294869  0.584800  ...  0.214205  0.924384
284804  3.031260 -0.296827  0.708417  0.432454  ...  0.232045  0.578229
284805  0.623708 -0.686180  0.679145  0.392087  ...  0.265245  0.800049
284806 -0.649617  1.577006 -0.414650  0.486180  ...  0.261057  0.643078

             V23       V24       V25       V26       V27       V28  Amount  \
284802  1.014480 -0.509348  1.436807  0.250034  0.943651  0.823731    0.77
284803  0.012463 -1.016226 -0.606624 -0.395255  0.068472 -0.053527   24.79
284804 -0.037501  0.640134  0.265745 -0.087371  0.004455 -0.026561   67.88
284805 -0.163298  0.123205 -0.569159  0.546668  0.108821  0.104533   10.00
284806  0.376777  0.008797 -0.473649 -0.818267 -0.002415  0.013649  217.00

        Class
284802      0
284803      0
284804      0
284805      0
284806      0

[5 rows x 31 columns]

In [ ]:
# Display the count of each class in the dataset
print(data['Class'].value_counts())

Class
0    284315
1       492
Name: count, dtype: int64

As we can see , the dataset is highly imbalanced

0 - legit transaction
1 - fraudulent transaction

In [ ]:
# Separate data for analysis
legit = data[data.Class == 0.0]
fraud = data[data.Class == 1.0]
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [ ]:
# Statistical measures of the data
print(legit.Amount.describe())
print()
print(fraud.Amount.describe())

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [ ]:
# Compare the values for both transactions
print(credit_card_data.groupby('Class').mean())

               Time        V1        V2        V3        V4        V5  \
Class
0      94838.202258  0.008258 -0.006271  0.012171 -0.007860  0.005453
1      80746.806911 -4.771948  3.623778 -7.033281  4.542029 -3.151225

             V6        V7        V8        V9  ...       V20       V21  \
Class                                          ...
0      0.002419  0.009637 -0.000987  0.004467  ... -0.000644 -0.001235
1     -1.397737 -5.568731  0.570636 -2.581123  ...  0.372319  0.713588

            V22       V23       V24       V25       V26       V27       V28  \
Class
0     -0.000024  0.000070  0.000182 -0.000072 -0.000089 -0.000295 -0.000131
1      0.014049 -0.040308 -0.105130  0.041449  0.051648  0.170575  0.075667

           Amount
Class
0       88.291022
1      122.211321

[2 rows x 30 columns]

In [ ]:
# Sample from legitimate transactions to balance the dataset
legit_sample = legit.sample(n=492)
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [ ]:
# Display the first few rows of the new dataset
print(new_dataset.head())

            Time        V1        V2        V3        V4        V5        V6  \
42762    41234.0 -1.043870  0.429934  0.565503 -1.315107  0.239131 -0.786575
86161    61111.0  1.194500  0.154701  0.604205  0.561456 -0.571931 -0.795792
232711  147276.0 -0.636883  0.100494 -0.177316 -1.774217  1.091764 -1.152196
38117    39255.0  0.864966 -0.404933  1.427380  1.396475 -1.198917  0.029665
228683  145608.0  1.798211 -0.621725  0.012803  0.563481 -1.100668 -0.575012

              V7        V8        V9  ...       V21       V22       V23  \
42762   0.039376  0.545099 -0.351615  ...  0.019166 -0.249468 -0.084042
86161  -0.065738 -0.043684 -0.151826  ... -0.195633 -0.638351  0.151725
232711  1.185620 -0.334549 -2.342687  ...  0.556473  1.356329 -0.729320
38117  -0.648851  0.186867  0.607896  ...  0.372077  0.897299 -0.101306
228683 -0.635014  0.007139  0.884637  ...  0.289605  0.920677  0.167242

             V24       V25       V26       V27       V28  Amount  Class
42762  -0.312683 -0.137778  0.789876  0.058383 -0.064172   14.60      0
86161   0.516587  0.141254  0.065729 -0.036739  0.010548    5.99      0
232711 -0.313103  1.497148  0.514178 -0.087356  0.005322   48.00      0
38117   0.412364  0.201628 -0.241333  0.069877  0.064007  125.97      0
228683  0.623859 -0.390218  0.506445 -0.029297 -0.040405   64.99      0

[5 rows x 31 columns]

In [ ]:
new_dataset['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

In [ ]:
new_dataset.groupby('Class').mean()
#Important step --> ensure that the nature of the dataset hasn't changed

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,93991.231707,0.113538,0.005392,0.051044,-0.040599,0.007261,0.009793,0.029121,-0.026075,0.022737,...,0.042554,0.017201,0.015520,-0.042098,0.028944,0.009196,0.029784,0.018497,-0.003442,93.261220
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [ ]:
X = new_dataset.drop(columns='Class', axis = 1)
Y = new_dataset['Class']

In [ ]:
# Split the data into training and testing sets
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)
print(X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

**MODEL 1 - LOGISTIC REGRESSION**

In [ ]:
# Initialize and train the Logistic Regression model
model = LogisticRegression()
model.fit(X_train, Y_train)

# Make predictions on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction , Y_train)
train_precision_lr = precision_score(Y_train, X_train_prediction)
train_recall_lr = recall_score(Y_train, X_train_prediction)
train_f1_lr = f1_score(Y_train, X_train_prediction)
print('Accuracy on Training data:', training_data_accuracy)
print('Precision:', train_precision_lr)
print('Recall:', train_recall_lr)
print('F1 Score:', train_f1_lr)

print()

# Make predictions on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)
test_precision_lr = precision_score(Y_test, X_test_prediction)
test_recall_lr = recall_score(Y_test, X_test_prediction)
test_f1_lr = f1_score(Y_test, X_test_prediction)
print('Accuracy on Test data:', test_data_accuracy)
print('Precision:', test_precision_lr)
print('Recall:', test_recall_lr)
print('F1 Score:', test_f1_lr)

Accuracy on Training data: 0.9453621346886912
Precision: 0.9730458221024259
Recall: 0.916243654822335
F1 Score: 0.9437908496732027

Accuracy on Test data: 0.9238578680203046
Precision: 0.9560439560439561
Recall: 0.8877551020408163
F1 Score: 0.9206349206349207

**MODEL 2 - RANDOM FOREST**

In [ ]:
from sklearn.ensemble import RandomForestClassifier

# Initialize and train the Random Forest model
model = RandomForestClassifier(n_estimators=100, random_state=2)
model.fit(X_train, Y_train)

# Make predictions on training data
train_predictions = model.predict(X_train)

# Make predictions on test data
test_predictions = model.predict(X_test)

# Calculate evaluation metrics
train_accuracy = accuracy_score(Y_train, train_predictions)
train_precision = precision_score(Y_train, train_predictions)
train_recall = recall_score(Y_train, train_predictions)
train_f1 = f1_score(Y_train, train_predictions)

test_accuracy = accuracy_score(Y_test, test_predictions)
test_precision = precision_score(Y_test, test_predictions)
test_recall = recall_score(Y_test, test_predictions)
test_f1 = f1_score(Y_test, test_predictions)

print('Random Forest Model Evaluation:')
print('Training Data:')
print('Accuracy:', train_accuracy)
print('Precision:', train_precision)
print('Recall:', train_recall)
print('F1 Score:', train_f1)

print('\nTest Data:')
print('Accuracy:', test_accuracy)
print('Precision:', test_precision)
print('Recall:', test_recall)
print('F1 Score:', test_f1)

Random Forest Model Evaluation:
Training Data:
Accuracy: 1.0
Precision: 1.0
Recall: 1.0
F1 Score: 1.0

Test Data:
Accuracy: 0.9238578680203046
Precision: 0.9770114942528736
Recall: 0.8673469387755102
F1 Score: 0.9189189189189189

**MODEL 3 - XGBOOST**

In [ ]:
from sklearn.model_selection import train_test_split, GridSearchCV
from xgboost import XGBClassifier
# Initialize XGBoost classifier
xgb = XGBClassifier(random_state=2)

# Define hyperparameters grid for grid search
#evaluate optimal parameters of the model
param_grid = {
    'n_estimators': [100, 200, 300],
    'max_depth': [3, 5, 7],
    'learning_rate': [0.01, 0.05, 0.1],
    'subsample': [0.8, 1.0],
    'colsample_bytree': [0.8, 1.0]
}

# Perform grid search with cross-validation
grid_search = GridSearchCV(estimator=xgb, param_grid=param_grid, cv=3, scoring='accuracy')
grid_search.fit(X_train, Y_train)

# Get the best hyperparameters
best_params = grid_search.best_params_

# Initialize XGBoost classifier with best hyperparameters
best_xgb = XGBClassifier(**best_params, random_state=2)

# Train the XGBoost model
best_xgb.fit(X_train, Y_train)

# Make predictions on training data
train_predictions = best_xgb.predict(X_train)

# Make predictions on test data
test_predictions = best_xgb.predict(X_test)

# Calculate evaluation metrics
train_accuracy = accuracy_score(Y_train, train_predictions)
train_precision = precision_score(Y_train, train_predictions)
train_recall = recall_score(Y_train, train_predictions)
train_f1 = f1_score(Y_train, train_predictions)

test_accuracy = accuracy_score(Y_test, test_predictions)
test_precision = precision_score(Y_test, test_predictions)
test_recall = recall_score(Y_test, test_predictions)
test_f1 = f1_score(Y_test, test_predictions)

print('XGBoost Model Evaluation:')
print('Training Data:')
print('Accuracy:', train_accuracy)
print('Precision:', train_precision)
print('Recall:', train_recall)
print('F1 Score:', train_f1)

print('\nTest Data:')
print('Accuracy:', test_accuracy)
print('Precision:', test_precision)
print('Recall:', test_recall)
print('F1 Score:', test_f1)

XGBoost Model Evaluation:
Training Data:
Accuracy: 0.9834815756035579
Precision: 0.9948051948051948
Recall: 0.9720812182741116
F1 Score: 0.9833119383825416

Test Data:
Accuracy: 0.9289340101522843
Precision: 0.9772727272727273
Recall: 0.8775510204081632
F1 Score: 0.9247311827956989

**MODEL 4 - KNN**

In [ ]:
from sklearn.neighbors import KNeighborsClassifier


# Initialize the KNN classifier
knn_model = KNeighborsClassifier(n_neighbors=5)  # You can experiment with different values of k

# Train the KNN model
knn_model.fit(X_train, Y_train)

# Make predictions on training data
train_predictions = knn_model.predict(X_train)

# Make predictions on test data
test_predictions = knn_model.predict(X_test)

# Calculate evaluation metrics
train_accuracy = accuracy_score(Y_train, train_predictions)
train_precision = precision_score(Y_train, train_predictions)
train_recall = recall_score(Y_train, train_predictions)
train_f1 = f1_score(Y_train, train_predictions)

test_accuracy = accuracy_score(Y_test, test_predictions)
test_precision = precision_score(Y_test, test_predictions)
test_recall = recall_score(Y_test, test_predictions)
test_f1 = f1_score(Y_test, test_predictions)

print('K-Nearest Neighbors (KNN) Model Evaluation:')
print('Training Data:')
print('Accuracy:', train_accuracy)
print('Precision:', train_precision)
print('Recall:', train_recall)
print('F1 Score:', train_f1)

print('\nTest Data:')
print('Accuracy:', test_accuracy)
print('Precision:', test_precision)
print('Recall:', test_recall)
print('F1 Score:', test_f1)

K-Nearest Neighbors (KNN) Model Evaluation:
Training Data:
Accuracy: 0.7636594663278272
Precision: 0.7971428571428572
Recall: 0.7081218274111675
F1 Score: 0.75

Test Data:
Accuracy: 0.6243654822335025
Precision: 0.6333333333333333
Recall: 0.5816326530612245
F1 Score: 0.6063829787234042